@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  :root {
    --page-px: 6rem;
  }

  body {
    font-family: 'Poppins', sans-serif;
    @apply text-gray-900;
  }

  a:not(.no-base) {
    @apply text-brand hover:underline;
  }

  ::selection {
    @apply bg-brand text-white;
  }
}
